.signup__image--container {
    background-image: url('../assets/istockphoto-1311600080-2048x2048.jpg');
    height: 100vh;
    background-size:cover;
  }
  

  .signup__from--container,
  .login__from--container 
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
  }


  .login__image--container {
    background-image: url('../assets/3.jpg');
    height: 90vh;
 
    background-size:cover;
  }
  
